        body {
            margin: 0;
            background-color: rgb(0, 0, 0);
            height: 100vh; /* ocupa toda a altura da tela */
        }
        div {
            box-sizing: border-box;
            border-radius: 5px;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        .artistas {
            overflow-y: auto;
            background-color: #222;
            float: left;
            padding: 5px;
            text-align: left;
            width: 30%; height: 300px;
            margin-top: 40px; margin-left: 15px;
        }
        .sobre {
            overflow-y: auto;
            background-color: #222;
            float: right;   
            padding: 0;
            text-align: left; padding-left: 15px;
            width: 68%; height: 80%;
            margin-top: 40px; margin-right: 5px;
        }


        .listM {
            height: 40%;
            background-color: aqua;
        }
        .letras {
            background-color: rgb(57, 242, 248);
        }


        .nomes {
            width: 100%; padding-left: 5px;
            height: 30px;
            background: #22222200;
            font-size: 20px;
            display: flex;
            align-items: center;
            transition: background-color 0.5s ease;
            cursor: pointer;
        }
        .nomes.ativo {
            background-color: rgba(128, 128, 128, 0.5);
            color:  rgb(57, 242, 248);
        }
        .musica {
            width: 100%; padding-left: 5px;
            height: 30px;
            background: #22222200;
            font-size: 18px;
            display: flex;
            align-items: center;
            transition: background-color 0.5s ease;
            cursor: pointer;
        }
        .musica.ativo {
            background-color: rgba(128, 128, 128, 0.5);
            color:  rgb(57, 242, 248);
        }




        /* largura da barra */
        .artistas::-webkit-scrollbar {
            width: 10px;
        }

        /* fundo da barra */
        .artistas::-webkit-scrollbar-track {
            background: transparent;
        }

        /* retângulo que desliza */
        .artistas::-webkit-scrollbar-thumb {
            background: #5a5a5a;
            border-radius: 5px;
        }

        /* quando passa o mouse */
        .artistas::-webkit-scrollbar-thumb:hover {
            background: #8a8a8a;
        }